/* Hide everything except the image inside the wrapper */
.evidentbanner-wrapper > div {
  display: none; /* Hide all div elements */
}

/* Show the image */
.evidentbanner-wrapper img {
  display: block; /* Ensure the image is visible */
  pointer-events: all; /* Make the image clickable */
  cursor: pointer; /* Change cursor to indicate the image is clickable */
}
