.block.evidenthometext {
    margin: auto;
}
.block.evidenthometext h2{
    text-align: center;
}
.block.evidenthometext h3{
    text-align: center;
}
.block.evidenthometext p{
    text-align: center;
}
