.evidentcards>ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.evidentcards>ul>li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.evidentcards .evidentcards-evidentcard-body {
  margin: 16px;
  color: black;
}

.evidentcards .evidentcards-evidentcard-image {
  line-height: 0;
  transition: transform 0.3s ease;
  /* Smooth transition for transformation */
}

/* On hover, the image will scale up (move forward) */
.evidentcards .evidentcards-evidentcard-image:hover {
  transform: scale(1.1);
  /* Increases the size to 110% of the original size */
}
.evidentcards .evidentcards-evidentcard-body:hover {
  color: blue;
  /* Increases the size to 110% of the original size */
}

.evidentcards>ul>li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
.evidentcards {
    width: 1270px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}
