.hero-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 300px;
  max-width: 100%;
}

/* Image styling */
.hero-wrapper > .hero > div > div > picture img {
  width: 100%;
  height: 250px;
  display: flex;
}

/* Positioning the text block on the left side of the image */
.hero-wrapper > .hero > div:nth-of-type(2) {
  position: absolute;
  top: 0%;
  left: 0%;
  background-color: white;
  padding: 20px;
  z-index: 0;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.3);
  font-size: 20px;
  margin-bottom: 20px;
  width: 550px;
  height: 190px;
  padding: 25px 50px 50px;
  justify-content: flex-end;
}

/* Text styling inside the text block */
.hero-wrapper > .hero > div:nth-of-type(2) h1 {
  color: #005cb9;
  font-size: 30px;
  line-height: 1.1em;
  margin-top: 30px;
  margin-bottom: 20px;
}

.hero-wrapper > .hero > div:nth-of-type(2) p {
  font-size: 20px;
  color: black;
  line-height: 1.8em;
}

/* Make it responsive */
@media (max-width: 768px) {
  .hero-wrapper > .hero > div:nth-of-type(2) {
    width: 80%;
    left: 10%;
    padding: 15px;
  }

  .hero-wrapper > .hero > div:nth-of-type(2) h1 {
    font-size: 20px;
  }

  .hero-wrapper > .hero > div:nth-of-type(2) p {
    font-size: 14px;
  }
}
