footer {
  background-color: var(--light-color);
  font-size: var(--body-font-size-xs);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 40px 24px 24px;
}

footer .footer p {
  margin: 0;
  text-align: center;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

.footer ul li {
	margin: 20px 0 0;
}
.footer ul li {
	margin: 0 15px;
	list-style-type: none;
}
.footer ul span {
	display: none;
}
.footer ul a {
	background: var(--sprite) no-repeat -475px 0;
	display: inline-block;
	width: 25px;
	height: 25px;
	text-decoration: none;
	visibility: hidden;
}
.footer ul a[href*="twitter"] {background-position: -475px 0;}
.footer ul a[href*="facebook"] {background-position: -450px 0;}
.footer ul a[href*="instagram"] {background-position: -425px 0;}
.footer ul a[href*="linkedin"] {background-position: -400px 0;}
.footer ul a[href*="youtube"] {background-position: -375px 0;}

@media (width >= 900px) {
  footer .footer > div {
    padding: 40px 32px 24px;
  }
}
